<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aquamorph.habquit">

    <application
        android:name=".application.HabitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.AchievementsActivity" />
        <activity android:name=".activities.GraphDisplayActivity" />
        <activity android:name=".activities.BarGraphActivity" />
        <activity android:name=".activities.LineGraphActivity" />
        <activity android:name=".activities.HabitSelectActivity"></activity>
    </application>

</manifest>